# Ratio pixel to meter (how many pixel are one meter?).
rpm: 10

# Lane width in meter.
lane_width: 4

# Tolerance of the lane width in percentage.
lane_width_tolerance: 10

# Start position of the vehicle. In X and Y ccordinate and orientation in degree (euler angle).
start_point_x: 120
start_point_y: 1000
start_orientation: 0
