# Test file of version 0.1
test_circuit: Circle                                           # Available: Circle
control_algorithm: manual                                      # Available: manual  
ode_model: simple                                              # Available: simple, seven_state  
number_bool_1: 1                                               # Comment  
number_bool_2: false                                           # Comment  
number_array: [2,3,4.5]                                        # Comment  
list: {Hello, World, !}                                        # Comment  
